/* FOOTER */
footer {
    bottom: 0;
    position: fixed;
    background-color: var(--link-color);
  }
  footer a > * {
    height: 100px;
    width: 100px;
    cursor: pointer;
    color: white;
  }
  /* END FOOTER */
  