:root {
  --primary-color: #37322F;
  --secondary-color: #5a0844;
  --tertiary-color: #bacb1e;
  --link-color: #20199f;
}

a {
  color: var(--link-color);
  text-decoration: none;
}
.close {
  border-radius: 10px;
  background-color: rgb(208, 126, 126);
  margin-right: 10px;
  padding: 3px;
  cursor: pointer;
}

body {
  background-color: rgb(187, 125, 81);
}

section {
  overflow: auto;
  max-height: 85vh;
}

.text-align {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* NAV */
header {
  width: fit-content;
  border-radius: 25px;
}
.hamburger {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  padding-top: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  background-color: var(--link-color);
  border: 0;
}
.hamburger:hover {
  background-color: rgba(25, 132, 159, 0.511);
}
.hamburger > * {
  height: 10px;
  width: 24px;
  border-top: 2px solid rgb(255, 255, 255);
  margin: auto;
}
.nav-item {
  cursor: pointer;
  color: rgb(168, 168, 168);
}
.nav-item:hover {
  color: rgba(25, 132, 159, 0.511);
}
.active {
  color: var(--link-color)!important;
}
/* END NAV */

/* CONTACT */
#contact-form > * {
  margin-top: .25rem;
}
form {
  max-width: 75vh;
  margin: auto;
}
.btn {
  background-color: var(--tertiary-color);
  border-color: var(--link-color);
}
.btn:hover {
  background-color: #589210;
  border-color: #10a237;
}
/* END CONTACT */

/* ABOUT */
.about {
  justify-content: center;
  align-items: center;
  margin: 0;
}
.about-container {
  align-items: center;
  max-width: 120vh;
  max-height: 90vh;
  margin: auto;
}
.bio {
  border-radius: 1rem;
}
.bio-img {
  max-height: 500px;
  max-width: 500px;
}
.bio-img-container {
  margin: auto;
  border-radius: 75%;
}
/* END ABOUT */

/* FOOTER */
footer {
  bottom: 0;
  position: fixed;
  background-color: var(--link-color);
}
footer a > * {
  height: 100px;
  width: 100px;
  cursor: pointer;
  color: white;
}
/* END FOOTER */
