:root {
  --primary-color: #37322F;
  --secondary-color: #5a0844;
  --tertiary-color: #bacb1e;
  --link-color: #20199f;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* CONTACT */
#contact-form > * {
  margin-top: .25rem;
}
form {
  max-width: 75vh;
  margin: auto;
}
.btn {
  background-color: var(--tertiary-color);
  border-color: var(--link-color);
}
.btn:hover {
  background-color: #589210;
  border-color: #10a237;
}
/* END CONTACT */

/* ABOUT */
.about {
  justify-content: center;
  align-items: center;
  margin: 0;
}
.about-container {
  align-items: center;
  max-width: 120vh;
  max-height: 90vh;
  margin: auto;
}
.bio {
  border-radius: 1rem;
}
.bio-img {
  max-height: 500px;
  max-width: 500px;
}
.bio-img-container {
  margin: auto;
  border-radius: 75%;
}
/* END ABOUT */

/* FOOTER */
footer {
  bottom: 0;
  position: fixed;
  background-color: var(--link-color);
}
footer a > * {
  height: 100px;
  width: 100px;
  cursor: pointer;
  color: white;
}
/* END FOOTER */
