:root {
  --primary-color: #37322F;
  --secondary-color: #BF211E;
  --tertiary-color: #5FBFA2;
  --link-color: #19849F;
}

a {
  color: var(--link-color);
  text-decoration: none;
}
.close {
  border-radius: 10px;
  background-color: lightgrey;
  margin-right: 10px;
  padding: 3px;
  cursor: pointer;
}

body {
  background-color: seashell;
}

section {
  overflow: auto;
  max-height: 85vh;
}

.text-align {
  text-align: center;
}

.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  